.grid-stack {
  min-height: 1em;
  background-color: #ebebeb;
}

.grid-stack-item-content {
  overflow: hidden !important;
}

.grid-stack-item-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paragraphs-behavior .grid-stack-item-content {
  border: 1px dashed #faf;
}

.paragraphs-gridstack-settings {
  display: none;
}

.paragraphs-gridstack-settings.active {
  display: block;
}

.paragraphs-gridstack-settings .form-type--textarea {
  display: none!important;
}

.paragraphs-gridstack-action-parent-container,
.paragraphs-gridstack-actions-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.paragraphs-gridstack-action-parent-container > input {
  width: 50%;
  max-width: calc(50% - 0.5rem);
  margin: 0.75rem 0;
}

.paragraphs-gridstack-actions-container > input {
  width: 33%;
  max-width: calc(33% - 0.5rem);
  margin: 0.75rem 0;
}

.paragraphs-behavior .paragraphs-gridstack-action.active {
  color: #003ecc;
}

.paragraphs-behavior .form-element--type-select {
  width: 100%;
}
